/* table */
.content__items {
  display: flex;
  flex-direction: column;
  gap: 1em;
  max-height: 200px;
  overflow-y: auto;
}

.content__item {
  display: flex;
  gap: .5em;
  align-items: center;
  justify-content: space-between;
}

.item__detail {
  display: flex;
  gap: .25em;
  align-items: center;
}

.item__img {
  max-width: 66px;
}

/* cart modify form */
.mod-cart-form {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: .5em;
  padding: 1em;
  background: white;
  overflow: auto;
  margin: .5em;
}
.mod-cart-form__items {
  display: flex;
  flex-direction: column;
  gap: 1em;
  max-height: 50vh;
  overflow-y: auto;
}
.mod-cart-form__item {
  display: flex;
  align-items: center;
  gap: 5em;
}
.mod-cart-form__info {
  display: flex;
  align-items: center;
  gap: .5em;
}
.mod-cart-form__info > img {
  max-width: 100px;
}
.mod-cart-info__input {
  max-width: 44px;
  padding-left: .5em;
}