@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;700&display=swap');

:root {
  --text-color: black;

  --max-screen-size: 1920px;
  --max-form-size: 500px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  position: relative;
  max-width: var(--max-screen-size);
  min-height: 100vh;
  min-height: 100dvh; /* For mobile devices */
  margin: 0 auto;
}

ul {
  list-style: none;
}

i, a, select {
  cursor: pointer;
}

.b {
  border: 1px solid black;
}

button {
  cursor: pointer;
}

.header--g {
  position: fixed;
  width: 100%;
  margin: 9 auto;
  max-width: var(--max-screen-size);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  gap: 1em;
  border-bottom: 1px solid black;
  background: white;
  z-index: 99;
}

.content--g {
  padding: 7em .5em 5em;
}

.footer--g {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  border-top: 1px solid black;
  padding: .5em 0;
}

.auto-scroll--g {
  overflow: auto;
}

.backdrop--g {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(92, 92, 92, 0.5);
  z-index: 99;
}

.text-limit--g {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Table */
.content__title--g {
  margin-bottom: 1em;
}

.content__table--g {
  width: 100%;
  border-collapse: collapse;
  white-space: nowrap;
}

.content__th--g {
  text-transform: capitalize;
}

.content__th--g, .content__td--g {
  padding: .5em;
  text-align: left;
  border: 1px solid black;
}

.content__tr--g:nth-of-type(2n) {
  background-color: lightgray;
}

@media (max-width: 650px) {
  .content__table--g {
    border: 1px solid black;
  }

  .content__thead--g {
    display: none;
  }

  .content__th--g, .content__td--g {
    border: none;
  }

  .content__td--g {
    display: grid;
    gap: .5rem;
    grid-template-columns: 16ch auto;
    padding: .5rem 1rem;
  }
  .content__td--g:first-child {
    padding-top: 1em;
  }
  .content__td--g:last-child {
    padding-bottom: 1em;
  }
  .content__td--g:before {
    content: attr(data-cell) ": ";
    text-transform: capitalize;
  }
}


/* Form */
.form--g {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: .5em;
  padding: 1em;
  background: white;
}

.form__close--g {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 1.5rem;
}

.form__field--g {
  display: flex;
  flex-direction: column;
}

.form__input--g {
  padding: .5em;
}

.form__select--g {
  width: max-content;
  padding: .5em;
}

/* search box */
.search-box--g {
  margin-bottom: .5em;
}

/* Product detail popup, user detail popup */
.product-detail-popup--g, .user-detail-popup--g {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: .5em;
  padding: 1em;
  background: white;
  overflow: auto;
  margin: .5em;
  max-width: 95%;
  overflow-x: auto;
}
.product-detail-popup__info--g {
  display: flex;
  gap: 1em;
}
.product-detail-popup__divider--g {
  font-size: 1.5rem;
  margin: auto 0;
}
.product-detail-popup__detail--g {
  padding: .5em;
}
.product-detail-popup__detail--g > img {
  max-width: 222px;
}
.product-detail-popup__detail--g > div, .user-detail-popup__detail--g > div {
  display: grid;
  grid-template-columns: 15ch 1ch auto;
  gap: .25em;
}
.product-detail-popup__detail--g > div > h4, .user-detail-popup__detail--g > div > h4  {
  text-transform: capitalize;
}

/* User detail popup */
.user-detail-popup__info--g  {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Two columns for the first two divs */
  grid-auto-rows: auto; /* Allow rows to size automatically */
  gap: 1em;
}
.user-detail-popup__info--g > div:nth-child(3) {
  grid-column: 1 / 3;
}
.user-detail-popup__detail--g > ul {
  list-style: decimal;
  list-style-position: inside;
}
.user-detail-popup__detail--g > ul > li > address {
  display: inline;
}
