.content__items {
  display: flex;
  flex-direction: column;
  gap: .5em;
  max-height: 100px;
  overflow-y: auto;
}

.content__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1em;
}
.content__item > div {
  display: flex;
  align-items: center;
  gap: .5em;
}
.content__item > div > img {
  max-width: 66px;
}

.product-detail-popup__info-instances > div,
.product-detail-popup__info-instances > ul > li {
  display: grid;
  grid-template-columns: repeat(5, auto);
  gap: .25em;
}