.content__img {
  max-width: 66px;
}

/* view variations */
.variations-popup {
  max-height: 90%;
  max-width: max-content;
}
.variations-popup__list {
  display: flex;
  flex-direction: column;
  gap: .5em;
}
.variations-popup__item > img {
  display: block;
  margin: 0 auto;
  max-width: 166px;
}
.variations-popup__item > div {
  display: grid;
  grid-template-columns: 15ch auto;
  gap: .25em;
}

/* update form, create form */
.update-product-form-img,
.create-product-form-img,
.create-variation-form-img,
.update-variation-form-img {
  border-bottom: 1px solid grey;
  padding-bottom: 1em;
}
.update-product-form-img > img,
.create-product-form-img > img,
.create-variation-form-img > img,
.update-variation-form-img > img  {
  display: block;
  margin: 0 auto;
  max-width: 166px;
}

.create-variation-form,
.update-variation-form {
  max-height: 90vh;
  overflow-y: auto;
}

.create-variation-form__input,
.update-variation-form__input {
  display: grid;
  grid-template-columns: 15ch repeat(3, max-content);
  gap: .25em;
}