.content__specs > li {
  display: grid;
  gap: .25em;
}

.content__specs--watch {
  max-height:  200px;
  overflow-y: auto;
}

.content__specs--watch > li {
  grid-template-columns: 22ch auto;
}

.content__specs--band > li {
  grid-template-columns: 10ch auto;
}